<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
  
      <img src="../assets/Blogo.jpg" alt="MyBlog" class="logo">
  
      <ul class="nav navs navs2">
          
          
          <li class="nav-item active">
            <a class="nav-link" routerLink='/'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin">Xplore More</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-item" routerLink='/'>Contact </a></li> -->
      </ul>
  </body>



















<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand pl-5" href="#">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Flooka.com%2Flogo-ideas%2Fblog-logo-design%2F&psig=AOvVaw0QOWsVAXEImrIYW6awpaKN&ust=1668662685792000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCND8lof7sfsCFQAAAAAdAAAAABAO" width="30" height="30" class="d-inline-block align-top" alt="">
        Story Lines
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink='/'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin">Xplore More</a>
        </li>
      </ul>
    </div>
  </div>
  </nav> -->